# python3.12, pip3
#awpy==1.3.1    ;is provided in repository as libs because of invalid dependency requirements (deprecated numpy)
babel
dotenv
discord
extensions
imageio
jinja2
joblib
matplotlib
networkx
numpy
pandas
plotly
pillow
pydantic
ruff
scikit-learn
scipy
shapely
sympy
torch
torch_geometric
torchmetrics
tqdm
typing
