# python3.12, pip3
#awpy==1.3.1    ;must be installed separately with --no-dependecies, because package enforces numpy<1.25
babel
dotenv
discord
extensions
imageio
jinja2
joblib
matplotlib
networkx
numpy
pandas
plotly
pillow
pydantic
pytest
ruff
scikit-learn
scipy
shapely
sympy
torch
torch_geometric
torchmetrics
tqdm
typing